<div class="wrapper bodyBackground">
  <div class="container">


    <div class="row">
      <div class="module module-login span4 offset4" style="margin-top: 15%">

        <form #registerForm="ngForm" novalidate (ngSubmit)="registerUserAction()" class="form-vertical">
          <div class="module-head">
            <h3>Register as a new user
              <!--<span class="label label-inverse"> BRIDGE</span>-->
            </h3><br>

            <!--preloader-->
            <div class="progress progress-striped progress-info active" *ngIf="showPreloader">
              <div class="bar" style="width: 100%;"></div>
            </div>


          </div>
          <div class="module-body">
            <div class="control-group">
              <div class="controls row-fluid">
                <label>Full name</label>
                <input class="span12" type="email" name="fullName" placeholder="Full name" #fullName="ngModel"
                       [class.is-invalid]="fullName.invalid && fullName.touched" [(ngModel)]="registerUser.fullName" required>
              </div><br>

              <div class="controls row-fluid">
                <label>Email</label>
                <input class="span12" type="email" name="email" placeholder="Email" #email="ngModel" pattern="^[^@]+@[^@]+\.[^@]+$"
                       [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="registerUser.email" required>
              </div>
            </div><br>


            <div class="controls row-fluid">
              <div class="controls row-fluid">
                <label>Password</label>
                <input class="span12" type="password" name="password" placeholder="Password" #password="ngModel"
                       [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="registerUser.password" required>
              </div>
            </div>
          </div>
          <div class="module-foot">
            <div class="control-group">
              <div class="controls clearfix">
                <button type="submit" class="btn btn-primary"
                        [disabled]="registerForm.form.invalid || showPreloader">
                  Register
                </button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
