<!--HEADER-->
<app-header></app-header>


<div class="wrapper">
  <div class="container">
    <div class="row">

      <!--SIDE NAV-->
      <app-side-nav></app-side-nav>

      <div class="span9">
        <div class="content">


          <!--preloader-->
          <div class="progress progress-striped progress-info active" *ngIf="showPreloader">
            <div class="bar" style="width: 100%;"></div>
          </div>


          <div class="btn-controls">

            <div class="btn-box-row row-fluid">
              <a class="btn-box big span8"><i class="icon-user"></i>
                <b>Welcome {{authService.getUserDetailItem('USER-DETAILS-FULL-NAME')}}</b>
                <p class="text-muted">You have a total of N{{walletBalance}} in your wallet</p>

                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#fundWalletModal" (click)="fundWalletModal = true">
                  Fund your wallet
                </button>
                <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#transferFundModall" (click)="tranferFundModal = true">
                  Transfer funds
                </button>
              </a>


            </div>


          </div>

          <div class="module">
            <div class="module-head">
              <h3>
                <span class="label label-inverse">TRANSACTIONS
                </span>
              </h3>
            </div>


            <!--TRANSACTION LIST-->
            <div class="module-body">
              <table class="table">
                <thead>
                  <tr>

                    <th style="width: 10%">Transaction Type</th>
                    <th style="width: 20%">Amount</th>
                    <th style="width: 20%">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trans of transactions; index as i">
                    <td>{{trans.transactionType}}</td>
                    <td>{{trans.amount}}</td>
                    <td>{{trans.transactionDescription}}</td>
                  </tr>
                </tbody>
              </table>
              <br />
              <br />

            </div>
          </div>


        </div>
        <!--/.content-->
      </div>

    </div>
  </div>
</div>








<!---FUND WALLET MODAL------------->
<div class="modal fade" id="fundWalletModal" role="dialog" *ngIf="fundWalletModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
      <span class="label label-inverse">How much would you like to fund your wallet?
        <i class="icon-plus-sign"></i>
      </span>
        </h4>
      </div>
      <div class="modal-body">

        <form #fundWalletForm="ngForm" class="form-horizontal row-fluid">
          <div class="control-group">


            <label class="control-label" for="code">Amount:</label>
            <div class="controls">
              <input type="number" id="code" placeholder="Enter amount.." class="span8"
                     name="amount" #amount="ngModel" [(ngModel)]="fundWalletAmount"
                      required>
              <span class="help-inline is-invalid1" *ngIf="amount.touched && amount.invalid">
                This field is required
              </span>
            </div>
            <br>



          </div>
        </form>
      </div>

      <!--preloader-->
      <div class="progress progress-striped progress-info active" *ngIf="fundWalletPreloader">
        <div class="bar" style="width: 100%;"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeFundWalletModal>Close</button>
        <button type="submit" class="btn btn-primary" (click)="fundWallet()"
                [disabled]="fundWalletForm.form.invalid || fundWalletPreloader">
          Fund
        </button>
      </div>
    </div>
  </div>

</div>


<!---TRANSFER FUND WALLET------------->
<div class="modal fade" id="transferFundModall" role="dialog" *ngIf="tranferFundModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
      <span class="label label-inverse">Transfer funds to another user
        <i class="icon-plus-sign"></i>
      </span>
        </h4>
      </div>
      <div class="modal-body">

        <form #transferFundsForm="ngForm" class="form-horizontal row-fluid">
          <div class="control-group">

            <label class="control-label">Transfer to:</label>
            <div class="controls">
              <select tabindex="1" data-placeholder="Select user." class="span8"
                      #user="ngModel" name="user" [(ngModel)]="transferFundsDto.useraccountId" required>
                <option *ngFor="let user of registeredUsers" [value]="user.id">{{user.fullName}}</option>
              </select>
              <span class="help-inline is-invalid1" *ngIf="user.touched && user.invalid">
                This field is required
              </span>
            </div>
            <br>



            <label class="control-label" for="code">Amount:</label>
            <div class="controls">
              <input type="number" id="amountt" placeholder="Enter amount.." class="span8"
                     name="amount" #amount="ngModel" [(ngModel)]="transferFundsDto.amount"
                     required>
              <span class="help-inline is-invalid1" *ngIf="amount.touched && amount.invalid">
                This field is required
              </span>
            </div>
            <br>



          </div>
        </form>
      </div>

      <!--preloader-->
      <div class="progress progress-striped progress-info active" *ngIf="tranferFundPreloader">
        <div class="bar" style="width: 100%;"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeTransferFundsModal>Close</button>
        <button type="submit" class="btn btn-primary" (click)="transferFunds()"
                [disabled]="transferFundsForm.form.invalid || tranferFundPreloader">
          Transfer
        </button>
      </div>
    </div>
  </div>

</div>
