<div class="wrapper bodyBackground">
  <div class="container">


    <div class="row">
      <div class="module module-login span4 offset4" style="margin-top: 15%">

        <form #loginForm="ngForm" novalidate (ngSubmit)="loginAction()" class="form-vertical">
          <div class="module-head">
            <h3>Welcome to the WALLET DEMO APP
              <!--<span class="label label-inverse"> BRIDGE</span>-->
            </h3><br>

            <!--preloader-->
            <div class="progress progress-striped progress-info active" *ngIf="showPreloader">
              <div class="bar" style="width: 100%;"></div>
            </div>


          </div>
          <div class="module-body">
            <div class="control-group">
              <div class="controls row-fluid">
                <input class="span12" type="email" name="email" placeholder="Email" #email="ngModel" pattern="^[^@]+@[^@]+\.[^@]+$"
                       [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="loginDto.email" required>
              </div>
            </div>
            <div class="control-group">
              <div class="controls row-fluid">
                <input class="span12" type="password" name="password" placeholder="Password" #password="ngModel"
                       [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="loginDto.password" required>
              </div>
            </div>
          </div>
          <div class="module-foot">
            <div class="control-group">
              <div class="controls clearfix">
                <button type="submit" class="btn btn-primary"
                        [disabled]="loginForm.form.invalid || showPreloader">
                  Login
                </button>
                <button class="btn btn-sm pull-right" routerLink="/register">
                  OR Register
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
