<div class="span3">
  <div class="sidebar">
    <ul class="widget widget-menu unstyled" >
      <li class="active"><a  routerLink="/dashboard">
        <i class="menu-icon icon-dashboard"></i>Dashboard
      </a></li>
    </ul>


    <ul class="widget widget-menu unstyled">
      <li><a (click)="logout()"><i class="menu-icon icon-signout"></i>Logout </a></li>
    </ul>
  </div>
</div>
