<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner" id="background">
    <div class="container">
      <a class="btn btn-navbar" data-target=".navbar-inverse-collapse" data-toggle="collapse">
        <i class="icon-reorder shaded"></i></a>
      <a class="brand" routerLink="/dashboard">
        <img alt="Bridge_Logo"  src="assets/images/192.png" style="width: 40px; height: 40px;" />
      </a>
      <div class="nav-collapse collapse navbar-inverse-collapse">

        <!-- <form action="#" class="navbar-search pull-left input-append" style="margin-top: 22px;">
          <input class="span3" type="text">
          <button class="btn" type="button">
            <i class="icon-search"></i>
          </button>
        </form> -->
        <ul class="nav pull-right" style="margin-top: 8px;">
          <li class="nav-user dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img class="nav-avatar" src="assets/images/user-logo.png"/>
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a>Your Profile</a></li>
              <li class="divider"></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.nav-collapse -->
    </div>
  </div>

</div>
